*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.login-content{
    position: relative;
}

.text-welcome{
    margin-top: -700px;
    margin-left: 75%;
    position: absolute;
    color: white;
    text-align: center;
}

.p-vol1-form{
    font-size: 20px;
}

.login-items-regis{
    position: absolute;
    left: 69%;
    margin-top: -30%;
}

.p-vol2-form{
    position: absolute;
    margin-top: -170px;
    left: 85%;
    color: white;
}


label{
    text-align: left;
    color: white;
    font-size: 20px;
    animation-name: animasi1;
    animation-duration: 2s;
}

input{
    padding: 15px 130px;
    border-radius: 30px;
    background: none;
    border-width: 2;
    border-color: white;
    color: grey;
    animation-name: animasi1;
    animation-duration: 3s;
}

.btn-vol1-form{
    padding: 10px 190px;
    border-radius: 30px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    animation-name: animasi1;
    animation-duration: 4s;
}

.p-vol3-form-regis{
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: 500;
    left: 75%;
    margin-left: 30px;
    margin-top:120px;
}

.link-regis{
    text-decoration: none;
    color: rgb(0, 153, 255)
}

.link-home{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

@keyframes animasi1 {
    0%{
        transform: scale(2);
        opacity: 0.1;
    }
    25%{
        transform: scale(1);
        opacity: 0.9;
    }
}

