*{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.content-image .bg-vol1{
    margin-left: 50px;
    margin-top: 50px;
    display: absolute;
    
}

.display-bg .bg{
    float: right;
    height: 1085px;
    object-fit: cover;
    margin-top: -80px;
    
}

.image-vol2{
    margin-left: 18%;
    margin-top: 10%;
    animation-name: animasi1;
    animation-duration: 4s;
}

.text-content{
    margin: auto;
    margin-top: 20px;
    animation-name: animasi1;
    animation-duration: 5s;
    
}

.text-vol1-content1{
    font-size: 25px;
    font-weight:bold;
    text-align: center;
}

@keyframes animasi1 {
    0%{
        transform: scale(2);
        opacity: 0.1;
    }
    25%{
        transform: scale(1);
        opacity: 0.9;
    }
}
